<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div class="container">
    <h1>Admin Login</h1>
    <form action="/adminlogin" method="post" id="login-form">
      <label for="username">Username</label>
      <input name="name" type="text" id="username" required>
      <label for="password">Password</label>
      <input name="password" type="password" id="password" required>
      <button type="submit">Login</button>
    </form>
  </div>

  <!-- <script src="../javascripts/script.js"></script> -->
</body>
</html>